<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context   
	http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">
		
	<bean id="empDAO" 
		class="kr.co.seoulit.base.dao.EmpDAOImpl"
		p:dstm-ref="dataSourceTransactionManager"/>	
		
	<bean id="codeDAO" 
		class="kr.co.seoulit.base.dao.CodeDAOImpl"
		p:dstm-ref="dataSourceTransactionManager"/>	

	<bean id="postDAO" 
		class="kr.co.seoulit.base.dao.PostDAOImpl"
		p:dstm-ref="dataSourceTransactionManager"/>	
		
	<bean id="baseServiceFacade" 
	    class="kr.co.seoulit.base.service.BaseServiceFacadeImpl"
	    p:empDAO-ref="empDAO"
	    p:postDAO-ref="postDAO"
	    p:codeDAO-ref="codeDAO"
	    p:dstm-ref="dataSourceTransactionManager"
	    />	
	
</beans>

