<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:tx="http://www.springframework.org/schema/tx"
	xmlns:p="http://www.springframework.org/schema/p" 
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans   
       http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/context   
	http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
       http://www.springframework.org/schema/aop/spring-aop.xsd
       http://www.springframework.org/schema/tx
       http://www.springframework.org/schema/tx/spring-tx.xsd">

		 		
	<bean id="slipDAO" 
 		class="kr.co.seoulit.accounting.slip.dao.SlipDAOImpl" 
		p:dstm-ref="dataSourceTransactionManager"/>	
		
	<bean id="jourDAO" 
 		class="kr.co.seoulit.accounting.slip.dao.JourDAOImpl" 
		p:dstm-ref="dataSourceTransactionManager"/>	
		
	<bean id="jourDetailDAO" 
 		class="kr.co.seoulit.accounting.slip.dao.JourDetailDAOImpl" 
		p:dstm-ref="dataSourceTransactionManager"/>	
		
	<bean id="slipServiceFacade" 
 	    class="kr.co.seoulit.accounting.slip.service.SlipServiceFacadeImpl"
 	    p:slipDAO-ref="slipDAO"
 	    p:jourDAO-ref="jourDAO"
 	    p:jourDetailDAO-ref="jourDetailDAO"
	    p:dstm-ref="dataSourceTransactionManager" 
	    />		
	
</beans>

